# dev1 (wallet)

Host dev1-*
	User obadmin
	IdentityFile ~/Sync/Secret/id_rsa.openbet

Host dev1-cust
  HostName keystone-cust-ops.aws.openbet.com

Host dev1-sports
  Hostname keystone-sports-ops.aws.openbet.com

Host dev1-db
  Hostname keystone-db-ops.aws.openbet.com

Host dev1-web
  Hostname keystone-web-ops.aws.openbet.com

Host dev1-promo
  Hostname keystone-promo-ops.aws.openbet.com

Host dev1-backbone
  Hostname keystone-backbone-ops.aws.openbet.com

Host dev1-wallet
  Hostname keystone-wallet-ops.aws.openbet.com

# dev2 (OPS)

Host jump2
  IdentityFile ~/Sync/Secret/usa-dev-jump.pem
  HostName jump.usa-dev.usa.nyxop.net
  User ec2-user

Host dev2-*
  IdentityFile ~/Sync/Secret/usa-dev-keystone.pem
  ProxyCommand ssh jump2 -W %h:%p

Host dev2-web-admin
  Hostname keystone-web.int.usa-dev.usa.nyxop.net
  User centos

Host dev2-sports
  Hostname keystone-sports.int.usa-dev.usa.nyxop.net
  User openbet

Host dev2-sports-admin
  Hostname keystone-sports.int.usa-dev.usa.nyxop.net
  User centos

Host dev2-cust
  Hostname keystone-cust.int.usa-dev.usa.nyxop.net
  User openbet

Host dev2-cust-admin
  Hostname keystone-cust.int.usa-dev.usa.nyxop.net
  User centos

Host dev2-db
  Hostname keystone-db.int.usa-dev.usa.nyxop.net
  User centos

Host dev2-backbone
  Hostname keystone-backbone.int.usa-dev.usa.nyxop.net
  User centos

Host dev2-retail
  Hostname retail-app-01.int.usa-dev.usa.nyxop.net
  User centos

# Regression

Host regression-cust
  HostName us-regression-cust.aws.openbet.com
  User obadmin
  IdentityFile ~/Sync/Secret/id_rsa.openbet

Host regression-backbone
  HostName us-regression-backbone.aws.openbet.com
  User obadmin
  IdentityFile ~/Sync/Secret/id_rsa.openbet

Host regression-sports
  HostName us-regression-sports.aws.openbet.com
  User obadmin
  IdentityFile ~/Sync/Secret/id_rsa.openbet
