# dev1 (wallet)

Host dev1-*
	User obadmin
	IdentityFile ~/Sync/Secret/id_rsa.openbet

Host dev1-cust
  HostName keystone-cust-ops.aws.openbet.com

Host dev1-sports
  Hostname keystone-sports-ops.aws.openbet.com

Host dev1-db
  Hostname keystone-db-ops.aws.openbet.com

Host dev1-web
  Hostname keystone-web-ops.aws.openbet.com

Host dev1-promo
  Hostname keystone-promo-ops.aws.openbet.com

Host dev1-backbone
  Hostname keystone-backbone-ops.aws.openbet.com

Host dev1-wallet
  Hostname keystone-wallet-ops.aws.openbet.com
