/*
!.config
.config/*
!.config/conky
!.config/Code
.config/Code/*
!.config/Code/User
.config/Code/User/*
!.config/Code/User/settings.json
!.config/Code/User/keybindings.json
!.config/githooks
!.config/i3
!.config/i3blocks
!.config/qutebrowser
.config/qutebrowser/*
!.config/qutebrowser/config.py
!.config/qutebrowser/quickmarks
!.config/rofi
!.config/compton.conf
!.local
.local/*
!.local/bin
.local/bin/*
!.local/bin/dotctl.sh
!.bashrc
!.editorconfig
!.gitconfig
!.gitignore
!.profile
!.tmux.conf
!.vimrc
!.xprofile
!.Xresources
!.zshrc
LICENSE
