[submodule ".dotfiles/Vundle.vim"]
	path = .dotfiles/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule ".dotfiles/zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .dotfiles/zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule ".dotfiles/base16-shell"]
	path = .dotfiles/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".dotfiles/zsh/custom/plugins/pure"]
	path = .dotfiles/zsh/custom/plugins/pure
	url = https://github.com/sindresorhus/pure.git
[submodule ".dotfiles/zsh/custom/plugins/zsh-async"]
	path = .dotfiles/zsh/custom/plugins/zsh-async
	url = https://github.com/mafredri/zsh-async.git
