[core]
  editor = vim
  trustctime = false
[color]
  ui = true
[alias]
  branch-exists = show-ref --verify --quiet
  cm = !git add --all && git commit -m
  contains = branch -avv --contains
  commits = rev-list --count
  committers = log --format=%ae
  current-commit = rev-parse --short HEAD
  current-branch = rev-parse --abbrev-ref HEAD
  files = diff-tree --no-commit-id --name-only -r
  l = log --oneline --decorate
  p = push -u origin master
  s = status -sb
  temp = !git checkout -b $(id -un)-$(date +%s%3N)
  user = config --local --get-regexp '^user'
  versions = tag --sort -version:refname
[push]
  default = matching
[diff]
  renames = copies
  tool = vimdiff
  guitool = meld
[difftool]
  prompt = false
[rerere]
  enabled = true
[blame]
  date = short
[status]
  submodulesummary = true
  relativePaths = false
  showUntrackedFiles = all
[notes]
  rewriteRef = refs/notes/*
[merge]
  defaultToUpstream = true
  tool = meld
[advice]
  statusHints = false
  pushNonFastForward = false
  implicitIdentity = false
  detachedHead = false
[init]
  templatedir = ~/.config/githooks/
[hooks]
  user = github DictumMortuum theio.vrefos@gmail.com
  user = gitlab DictumMortuum theio.vrefos@gmail.com
  user = bitbucket DictumMortuum dictummortuum339@gmail.com
  user = gratgt02 {Dimitris Raviolos} dimitrios.raviolos@unify.com
  user = gitsrv2 {Dimitris Raviolos} dimitrios.raviolos@unify.com
  user = stash.int.openbet.com {Dimitris Raviolos} dimitris.raviolos@sgdigital.com
[user]
  email = dictummortuum339@gmail.com
  name = Dimitris Raviolos
