# Ignore all files
/*

# Top-level repo files
!.fonts.conf
!.gitignore
!.gitmodules
!.gitconfig
!.vimrc
!.zshrc
!README.md
!install.sh

# Top-level repo directories
!.backgrounds
!.dotfiles
!.fonts
!.icons
!.vim/bundle/vundle
!.zsh

# Only include the global ssh config
!.ssh
.ssh/*
!.ssh/global.config

# Only include atom's config.cson
!.atom
.atom/*
!.atom/config.cson
