[core]
  editor = vim
  trustctime = false
[color]
  branch = auto
  diff = auto
  status = auto
  ui = true
[color "status"]
  added = green bold
  changed  = cyan bold
  untracked = yellow bold
[color "branch"]
  current = cyan bold
  local = yellow
  remote = green
[alias]
  branch-exists = show-ref --verify --quiet
  cm = !git add --all && git commit -m
  contains = branch -avv --contains
  commits = rev-list --count
  committers = log --format=%ae
  current-commit = rev-parse --short HEAD
  current-branch = rev-parse --abbrev-ref HEAD
  e = config --local user.email
  files = diff-tree --no-commit-id --name-only -r
  i = !git init && git_identity.tcl
  l = log --oneline --decorate
  lg = log --oneline --decorate --graph
  n = config --local user.name
  p = push -u origin master
  s = status -sb
  slatest = submodule foreach 'git checkout master && git pull origin master'
  sync = !git pull && git slatest
  versions = tag --sort -version:refname
[push]
	default = matching
[diff]
  renames = copies
[rerere]
  enabled = true
[blame]
  date = short
[status]
  submodulesummary = true
  relativePaths = false
  showUntrackedFiles = all
[notes]
  rewriteRef = refs/notes/*
[merge]
  defaultToUpstream = true
	tool = meld
[advice]
  statusHints = false
  pushNonFastForward = false
  implicitIdentity = false
  detachedHead = false
[init]
  templatedir = ~/.dotfiles/githooks/
[hooks]
  user = github DictumMortuum theio.vrefos@gmail.com
  user = gitlab DictumMortuum theio.vrefos@gmail.com
  user = bitbucket DictumMortuum dictummortuum339@gmail.com
  user = gratgt02 {Dimitris Raviolos} dimitrios.raviolos@unify.com
  user = gitsrv2 {Dimitris Raviolos} dimitrios.raviolos@unify.com
  user = stash.int.openbet.com {Dimitris Raviolos} dimitris.raviolos@sgdigital.com
[user]
  email = dictummortuum339@gmail.com
  name = Dimitris Raviolos
[sequence]
  editor = interactive-rebase-tool
