# Ignore all files
/*

# Top-level repo files
!.fonts.conf
!.vimrc
!.zshrc
!README.md
!install.sh

# Top-level repo directories
!.backgrounds
!.dotfiles
!.fonts
!.icons
!.vim/bundle/vundle
!.zsh

# [git]
!.gitignore
!.gitmodules
!.gitconfig
!.githooks

# [ssh] Only include the global ssh config
!.ssh
.ssh/*
!.ssh/global.config
!.ssh/control

# [atom]
!.atom
.atom/*
!.atom/config.cson
!.atom/styles.less
