[submodule ".themes/Flatabulous"]
	path = .themes/Flatabulous
	url = https://github.com/anmoljagetia/Flatabulous.git
[submodule ".themes/arc-flatabulous-theme"]
	path = .themes/arc-flatabulous-theme
	url = https://github.com/andreisergiu98/arc-flatabulous-theme.git
[submodule ".icons/yltra-flat-icon-theme"]
	path = .icons/yltra-flat-icon-theme
	url = https://github.com/erikdubois/yltra-flat-icon-theme.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zsh/zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
