;;;;
; npm userconfig file
; this is a simple ini-formatted file
; lines that start with semi-colons are comments.
; read `npm help config` for help on the various options
;;;;

init-author-name=Dimitris Raviolos
init-author-email=dictummortuum339@gmail.com
init-author-url=https://github.com/DictumMortuum
init-version=0.0.1
init-license=GPL-3.0
color=always
