Host czr-oper-qa01-jump
  Hostname jump.qa01.yellow.czr.eu-west-1.sportsbook.sgdigital.com
  User centos
  IdentityFile ~/Sync/Secret/jumpqa01operczreu-west-1.pem

Host qadns
  Hostname dnsslave-01.external.qa01.yellow.czr.eu-west-1.sportsbook.sgdigital.com
  User centos
  IdentityFile ~/Sync/Secret/jumpqa01operczreu-west-1.pem

Host *.internal.qa01.yellow.czr.eu-west-1.sportsbook.sgdigital.com
  User centos
  IdentityFile ~/Sync/Secret/sportsbook.qa01.oper.czr.eu-west-1.pem
  ProxyCommand ssh czr-oper-qa01-jump -W %h:%p
