# Regression

Host regression-cust
  HostName us-regression-cust.aws.openbet.com
  User obadmin
  IdentityFile ~/Sync/Secret/id_rsa.openbet

Host regression-backbone
  HostName us-regression-backbone.aws.openbet.com
  User obadmin
  IdentityFile ~/Sync/Secret/id_rsa.openbet

Host regression-sports
  HostName us-regression-sports.aws.openbet.com
  User obadmin
  IdentityFile ~/Sync/Secret/id_rsa.openbet
