Host yum.internal.uat01.oper.czr.us-east-1.sportsbook.sgdigital.com
  User centos
  IdentityFile ~/Sync/Secret/jump.uat01.oper.czr.us-east-1.pem
  ProxyCommand ssh czr-oper-uat01-jump -W %h:%p

Host czr-oper-uat01-jump
  Hostname jump.uat01.oper.czr.us-east-1.sportsbook.sgdigital.com
  User ec2-user
  IdentityFile ~/Sync/Secret/jump.uat01.oper.czr.us-east-1.pem

Host *.internal.uat01.oper.czr.us-east-1.sportsbook.sgdigital.com
  User centos
  IdentityFile ~/Sync/Secret/sportsbook.uat01.oper.czr.us-east-1.pem
  ProxyCommand ssh czr-oper-uat01-jump -W %h:%p
