"*":
  "base16-syntax":
    scheme: "Ashes"
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "CVS"
    ]
    projectHome: "$HOME/Code"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
  editor:
    fontFamily: "Droid Sans Mono"
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "1f590c8c-b4c8-6163-1c46-64df5999717e"
  "file-icons":
    coloured: false
    onChanges: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "$HOME/.eslintrc.json"
  "lisp-paredit":
    indentationForms: [
      "try"
      "catch"
      "finally"
      "let"
      "are"
      "/^def.*/"
      "fn"
      "cond"
      "if"
      "if-let"
      "for"
      "/when.*/"
      "testing"
      "doseq"
      "dotimes"
      "loop"
      "ns"
    ]
    strict: false
  "proto-repl":
    autoPrettyPrint: true
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".clojure.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
    tabLength: 1
