"*":
  "base16-syntax":
    scheme: "Ashes"
  core:
    ignoredNames: [
      ".git"
      ".hg"
      ".svn"
      ".DS_Store"
      "._*"
      "Thumbs.db"
      "CVS"
    ]
    projectHome: "$HOME/Code"
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "base16-syntax"
    ]
  editor:
    fontFamily: "Hack"
    fontSize: 15
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "exception-reporting":
    userId: "1f590c8c-b4c8-6163-1c46-64df5999717e"
  "file-icons":
    coloured: false
    onChanges: true
  "linter-eslint":
    disableWhenNoEslintConfig: false
    eslintrcPath: "$HOME/.eslintrc.json"
  "linter-javac": {}
  "linter-ui-default":
    panelHeight: 294
    showPanel: true
  "lisp-paredit":
    indentationForms: [
      "try"
      "catch"
      "finally"
      "let"
      "are"
      "/^def.*/"
      "fn"
      "cond"
      "if"
      "if-let"
      "for"
      "/when.*/"
      "testing"
      "doseq"
      "dotimes"
      "loop"
      "ns"
    ]
    strict: false
  parinfer:
    "file-extensions": [
      ".boot"
      ".cl"
      ".clj"
      ".cljc"
      ".cljs"
      ".edn"
      ".el"
      ".lfe"
      ".lisp"
      ".lsp"
      ".rkt"
      ".scm"
    ]
  "proto-repl":
    autoPrettyPrint: true
    leinPath: "/home/rd905075/.dotfiles/bin/lein"
  "spell-check":
    addKnownWords: true
    knownWords: [
      "multiclass"
      "attunement"
      "mithral"
      "melee"
      "dwarves"
      "cantrip"
      "multiclassing"
      "undead"
      "mooks"
      "machina"
      "debuffing"
      "debuff"
      "Pelor"
      "spellcasting"
      "anydice"
      "MMORPGs"
      "roleplaying"
      "MMOs"
      "sourcebooks"
      "spell's"
      "cantrips"
      "goodberries"
      "goodberry"
      "darkvision"
      "AoE"
      "spellcaster"
      "blasty"
      "Thunderwave"
      "Polearm"
      "stormborn"
      "dragonborn"
      "subrace"
      "halflings"
      "spellcasters"
      "Dwarven"
      "subraces"
      "pre"
      "drow"
      "drows"
      "halfling"
      "lightfoot"
      "sourcebook"
      "dragonborns"
      "orc"
      "orcs"
      "tiefling"
      "Thaumaturgy"
      "mage"
      "polearm"
      "battleaxe"
      "eldritch"
      "thaumaturgy"
      "scrying"
      "antimagic"
    ]
  "tool-bar":
    visible: false
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
    squashDirectoryNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".clojure.source":
  editor:
    autoIndent: false
    autoIndentOnPaste: false
    nonWordCharacters: "()\"':,;~@#$%^&{}[]`"
