- name: syncthing - add apt key
  apt_key:
    url: https://syncthing.net/release-key.txt
    state: present
  become: yes

- name: syncthing - add apt repository
  apt_repository:
    repo: deb https://apt.syncthing.net/ syncthing stable
  become: yes

- name: syncthing - install packages
  include_role:
    name: apt-install
  vars:
    apt_packages:
      - syncthing
