{
  "monaco": {
    "editorOptions": {
      "minimap": {
        "enabled": false
      },
      "wordWrap": "bounded"
    }
  },
  "sorting": {
    "by": "date_modified",
    "type": "ascending"
  },
  "tutorial": true,
  "cwd": "{{ ansible_env.HOME }}/Notes"
}

- pacman:
    name: "{{ item }}"
  loop:
    - fakeroot
    - binutils
    - vim
    - awk
    - file
    - patch
    - pass
    - syncthing
    - jq
    - gcc
    - cronie

- cron:
    name: "sync repo {{ item }}"
    minute: "0,20,40"
    job: "{{ ansible_env.HOME }}/.local/bin/dotctl.sh sync-repo {{ ansible_env.HOME }}/{{ item }}"
  loop:
    - Notes
    - .password-store
