{
  "monaco": {
    "editorOptions": {
      "minimap": {
        "enabled": false
      },
      "wordWrap": "bounded"
    }
  },
  "sorting": {
    "by": "date_modified",
    "type": "ascending"
  },
  "tutorial": true,
  "cwd": "{{ home }}/Notes"
}
